.navWrap {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    padding-top: 16px;
    padding-bottom: 16px;

    .navbar {
        padding: 0 !important;
        gap: 20px;

        .navbar-nav {
            gap: 20px;
            width: fit-content;
            background-color: $primaryColor;
            padding: 2px;
            border-radius: 64px;
        }

        .navbar-toggler {
            border: 0;
        }
    }

    .navbar-brand {
        padding: 0 !important;
        margin: 0 !important;
        max-width: 272px;
        width: 100%;
    }

    .navbar-collapse {
     
    }

    .navbar-nav .nav-link {
        padding: 16px;
        color: $blackColor;
        font-size: var(--fs18);
        color: $whiteColor;

        &.active {
            background-color: $secondaryColor;
            border-radius: 64px;
            padding-left: 24px;
            padding-right: 24px;
        }
    }

}

@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1570px) {}

@media screen and (max-width: 1370px) {}

@media screen and (max-width: 991px) {
    .navWrap {

        .navbar {

            .navbar-toggler {
                background-color: $primaryColor;
                border-radius: 50%;
                border: 0;
                padding: 13px;
                display: flex;

                svg {
                    width: 30px;
                    fill: #FFFB;
                }
            }
        }

        .navbar-collapse {
            transition: transform 0.5s;

            .navbar-nav {
                height: 100vh !important;
                right: 0;
                max-height: none;
                max-width: 100%;
                position: fixed;
                transform: translateX(100%);
                transition: transform 0.5s;
                visibility: hidden;
                opacity: 0;
                width: 256px;
                border-radius: 0;
                top: 80px;
            }

            &.show {
                transition: transform 0.5s;

                .navbar-nav {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0%);
                    transition: transform 0.5s;
                }
            }
        }

    }
}

@media screen and (max-width:575px) {
    .navWrap .navbar-brand {
        max-width: 200px;
    }
}