.heroWrap {
    background-image: url(../img/heroBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $whiteColor;
    padding-top: 155px !important;
    position: relative;
    color: #FFFB;

    .container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .heroImg {
        max-width: 160px;
        width: 100%;
    }

    span {
        font-size: clamp(2rem, 4vw, 4vw);
    }

    h1 {
        font-size: clamp(4rem, 8vw, 8vw);
        line-height: 1.1;
    }


}

ul.chev {
    display: flex;
    gap: 32px;
    align-items: center;

    li {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 24px;
        color: #FFFB;
    }

    svg {
        stroke: $secondaryColor;
        fill: $secondaryColor;
        width: 24px;
        height: 24px;
    }
}

.Logskindling {
    background-image: url(../img/Logskindling.jpg);
    min-height: 100svh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: $whiteColor;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: -1;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex: 1;
        justify-content: center;
    }

    .heroImg {
        max-width: 160px;
        width: 100%;
    }

    p {
        font-size: 24px;
        font-weight: 700;
    }

    h1 {
        font-size: clamp(4rem, 8vw, 8vw);
        line-height: 1.1;
    }

}

.ReadyBurnImg {
    max-width: 192px;
    width: 100%;
}

.ordering {
    background-color: $primaryColor;
}

.orderingInner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    background-color: #77C5D5;
    margin-top: -32px;
    padding: 32px;
    position: relative;
    z-index: 1;

    h3 {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 40px;
        color: #FFFB;
    }

    li,
    p {
        font-size: 18px;
        margin-bottom: 18px;

        a {
            color: $primaryColor;
            text-decoration: underline;
        }
    }

    a.flex_align {
        padding: 14px 24px;
        background-color: $secondaryColor;
        border-radius: 64px;
        width: fit-content;
        margin-left: auto;
        color: $whiteColor;
        margin-top: 20px;
    }

    ul {
        list-style: disc;
    }

    ol,
    ul {
        padding-left: 40px;
        margin-bottom: 18px;

        li {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

ul.copyright {
    display: flex;
    gap: 16px;
    align-items: center;
    color: $whiteColor;
    margin-top: 48px;

    li {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    svg {
        stroke: $whiteColor;
        fill: $whiteColor;
        width: 20px;
        height: 20px;
    }
}

// faqs page start 
.faqsHero {
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &::before {
        content: "";
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, #fff0 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .accordion-button:not(.collapsed) {
        background-color: #236192 !important;
        color: #FCFCFC;
    }

    .accordion-button {
        background-color: #54595FCC !important;
        color: #FFFB;
        font-size: 18px;
        line-height: 1;
        font-weight: 500;
    }

    .accordion-body {
        background-color: #FCFCFC;
        color: #121212CC;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
    }

    .accordion-button::after {
        content: "+";
        width: 16px;
        height: 16px;
        font-size: 16px;
        transform: unset;
        background: unset;
    }

    .accordion-button:not(.collapsed)::after {
        content: "-";
    }
}

// faqs page end

// order page start
.heroWrap.orderHero {
    p {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        color: #fff;
    }

    .priceBox {
        background-color: #FFFB;
        border: 3px solid #FFFB;
            border-radius: 9px;

        &:first-child {
            border-color: #FFA400;
                background-color: #FCFCFC;
            
        h3 {
            color: #236192;
        }
        p {
            color: #FFA400;
        }
        }

        h3 {
            color: #FFA400;
            font-weight: 700;
            font-size: 30px;
        }

        p {
            color: #236192;
            font-size: 18px;
            font-weight: 400;
        }

        span {
            color: #54595FCC;
            font-size: 18px;
        }

        h4 {
            color: #121212CC;
            font-weight: 700;
            font-size: 64px;

            .breakdance .price sup {
                font-size: 60%;
            }
        }

        .boxContent {
            padding: 32px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            text-align: center;
            align-items: center;
        }

        ul {
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
                display: flex;
                gap: 8px;
                align-items: center;

                img {
                    width: 16px;
                }
            }
        }
    }
}

// order page end

.grid3Col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}